<div class="container">
    <div class="fixed-size">
        <div class="announcement long-term">
            <h2>Looking for a Home Away From Home?</h2>
            <p>Explore our long-term rental options and find your perfect living space. Enjoy extended stays with
                exclusive perks and a sense of community.</p>
            <button routerLink="/rents">Explore Now</button>
        </div>
    </div>
</div>
<app-rents-list></app-rents-list>
<div class="container">
    <div class="fixed-size">
        <div class="announcement short-term">
            <h2>Ready for Your Next Adventure?</h2>
            <p>Discover our short-term rental options and embark on an unforgettable journey. Enjoy flexibility and
                comfort for your spontaneous getaways.</p>
            <button routerLink="/rents-short">Explore Now</button>
        </div>
    </div>
</div>
<app-rents-list-short></app-rents-list-short>