
.fixed-size {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-top: 2.5em;
}

.announcement {
    margin: 0 auto;
    width: 600px;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 2em;
    text-align: center;
}

.announcement p {
    margin: 1em 2em;
}

.announcement button {
    cursor: pointer;
    background-color: #4A99E1;
    width: 150px;
    height: 50px;
    border-radius: 1em;
    border: none;
    color: rgb(221, 221, 221);
    font-family: 'Helvetica', sans-serif;
    font-size: 1.2em;
    padding: 0.5em;
    margin: 0 auto;
    font-weight: bold;
    
}

.gif {
    margin: 0 auto;
    width: 1200px;
    height: 600px;
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-bottom: 2em;
}

.gif img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    border-radius: 2em;
}