.container {
  background-image: url('../../../assets/mountains-1899264_1920.jpg');
  background-size: cover;
  background-position: center;
  color: rgb(221, 221, 221);
  font-family: 'Helvetica', sans-serif;
  padding: 0 50px;
  box-shadow: inset 0 0 1em rgba(0, 0, 0, 0.7);
}

.login-container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 0.560);
}

.login-form {
  border: 5px solid rgba(0, 0, 0, 0.550);
  border-radius: 2em;
  padding: 2em;
  text-align: center;
}

.login-form h2 {
  text-align: center;
  padding-bottom: 1em;
}

.input-group {
  padding-bottom: 1em;
  font-size: 18px;
}

.input-group input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.550);
  font-size: 18px;
  font-weight: bold;
}

.input-group input:focus {
  outline: none;
}

.login-form button {
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.550);
  color: rgb(221, 221, 221);
  border: none;
  border-radius: 2em;
  padding: 0.5em 1em;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 0.5em;
}