<div class="container">
    <div class="fixed-size">
        <div class="login-container">
            <form class="login-form">
                <h2>Login</h2>
                <div class="input-group">
                    <label for="username">Username:</label>
                    <input #inputUsername type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password:</label>
                    <input #inputPassword type="password" id="password" name="password" required>
                </div>
                <button (click)="login(inputUsername.value, inputPassword.value)">Login</button>
            </form>
        </div>
    </div>
</div>