<div class="container">
  <div class="fixed-size">
    <div class="login-container">
      <form #loginForm="ngForm" (ngSubmit)="loginHandler(loginForm)">
        <div class="login-form">
          <h2>Login</h2>
          <div class="input-group">
            <label for="username">Username:</label>
            <input
              #inputUsername="ngModel"
              type="text"
              id="username"
              name="username"
              required
              ngModel
            />
          </div>
          <div class="input-group">
            <label for="password">Password:</label>
            <input
              #inputPassword="ngModel"
              type="password"
              id="password"
              name="password"
              required
              ngModel
              minlength="6"
            />
          </div>
          <ng-container *ngIf="inputUsername.touched">
            <p class="error" *ngIf="inputUsername.errors?.['required']">Username is required!</p>
            <!-- <p>Email is not valid!</p> -->
          </ng-container>
          <ng-container *ngIf="inputPassword.touched">
            <p class="error" *ngIf="inputPassword.errors?.['required']">
              Password is required!
            </p>
            <p class="error" *ngIf="inputPassword.errors?.['minlength']">
              Password must be at least 6 characters long!
            </p>
          </ng-container>
          <div [ngClass]="{notValid: !loginForm.valid}" ><button [disabled]="!loginForm.valid">Login</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
