<div class="container">
    <div class="fixed-size">
        <div class="content">
            <div *ngIf="!isMainPage" class="welcome-info">
                <div class="welcome-message">
                    <h1>Welcome to Our Short-Term Rentals!</h1>
                    <p>Get ready for your next adventure with our short-term rental options. Whether you're planning a weekend getaway, a spontaneous trip, or just need a temporary place to stay, we have you covered.</p>
                    <p>Explore our selection of short-term rentals and discover the perfect accommodations for your trip. Enjoy flexibility, comfort, and convenience as you embark on your journey.</p>
                </div>
                <div class="create-msg">
                    <h3>Ready to list your space?</h3>
                    <p>Creating a short-term rental listing is a fantastic way to turn your property into an opportunity. Whether you have an extra room or an entire home, listing on our platform and meeting new people from all over the world.</p>
                    <p>Getting started is easy! Simply provide some details about your property. Start hosting short-term rental!</p>
                    <button (click)="navigateToCreate()">Create Your Rental!</button>
                </div>
            </div>
            <div *ngIf="!isLoaded" class="loader">
                <app-loader></app-loader>
            </div>
            <div *ngFor="let rent of rents" class="card">
                <div (click)="navigateSingleRent(rent)" class="click-card">
                    <img src="{{rent.cover}}" alt="No Photo">
                    <div class="heading-p">
                        <p>{{rent.location.city}},</p>
                        <p>{{rent.location.country}}</p>
                    </div>
                    <p>Posted on {{rent.date.endsWith(':00.000Z') ? rent.date.slice(0, 10) : rent.date}}</p>
                    <p>{{rent.price}} € night</p>
                </div>
            </div>
            <div *ngIf="rents.length < 1" class="no-rents">
                <h1>No Rents</h1>
                <p>No Rents Available</p>
            </div>
        </div>
    </div>
</div>