<div class="container">
    <div class="fixed-size">
        <div class="content">
            <div *ngIf="!isLoaded" class="loader">
                <app-loader></app-loader>
            </div>
            <div *ngIf="isLoaded" class="card">
                <h2>{{rent?.location?.city}}, {{rent?.location?.country}}</h2>
                <div class="photo-wall">
                    <img src="{{rent?.cover}}" alt="No Photo">
                    <div *ngIf="rent?.photos" class="validation">
                        <div *ngFor="let photo of rent?.photos" class="other-photos">
                            <img *ngIf="photo!==''" src="{{photo}}" alt="No Photo">
                        </div>
                    </div>
                </div>
                <div class="info">
                    <div class="text">
                        <h3>Information</h3>
                        <p>Posted on {{rent?.date?.endsWith(':00.000Z') ? rent?.date?.slice(0, 10) : rent?.date}}</p>
                        <p>{{rent?.price}} € month</p>
                        <p>{{rent?.description}}</p>
                    </div>
                    <div class="options">
                        <h3>Options</h3>
                        <p *ngIf="rent?.options?.wifi">Wifi<i class="fa-solid fa-check"></i></p>
                        <p *ngIf="!rent?.options?.wifi">Wifi<i class="fa-solid fa-x"></i></p>
                        <p *ngIf="rent?.options?.parking">Parking<i class="fa-solid fa-check"></i></p>
                        <p *ngIf="!rent?.options?.parking">Parking<i class="fa-solid fa-x"></i></p>
                        <p *ngIf="rent?.options?.breakfast">Breakfast<i class="fa-solid fa-check"></i></p>
                        <p *ngIf="!rent?.options?.breakfast">Breakfast<i class="fa-solid fa-x"></i></p>
                        <p *ngIf="rent?.options?.pets">Pets Allowed<i class="fa-solid fa-check"></i></p>
                        <p *ngIf="!rent?.options?.pets">Pets Allowed<i class="fa-solid fa-x"></i></p>
                        <p *ngIf="rent?.options?.smoking">Smoking Allowed<i class="fa-solid fa-check"></i></p>
                        <p *ngIf="!rent?.options?.smoking">Smoking Allowed<i class="fa-solid fa-x"></i></p>
                    </div>
                    <div class="likes">
                        <p>Likes: <i class="fa-solid fa-heart"><span>{{rent?.likes?.length}}</span></i></p>
                    </div>
                    <div class="buttons">
                        <div *ngIf="isLoggedIn && !isLiked" class="likeBtn">
                            <button [disabled]="isLiked" (click)="likeRent()" class="like">Like: <i class="fa-solid fa-thumbs-up"></i></button>
                        </div>
                        <div *ngIf="isLoggedIn && isLiked" class="dislikeBtn">
                            <button [disabled]="!isLiked" (click)="unlikeRent()" class="unlike">Unlike: <i class="fa-solid fa-thumbs-down"></i></button>
                        </div>
                        <div *ngIf="isOwner"> 
                            <button (click)="updateRent()" >Edit</button>
                            <button (click)="deleteRent()" class="del">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>