<div class="container">
    <div class="fixed-size">
        <div class="content">
            <div *ngIf="!isMainPage" class="welcome-message">
                <h1>Welcome to Our Long-Term Rentals!</h1>
                <p>Embark on a journey of extended stays and discover the perfect home away from home. Whether you're relocating for work, exploring a new city, or simply seeking a change of scenery, we're here to make your stay unforgettable.</p>
                <p>Enjoy the comforts of home combined with exclusive perks and a sense of community. Browse our selection of long-term rental options and find the perfect living space for your needs.</p>
            </div>
            <div *ngIf="!isLoaded" class="loader">
                <app-loader></app-loader>
            </div>
            <div *ngFor="let rent of rents" class="card">
                <div (click)="clickCard(rent)" class="click-card">
                    <img src="{{rent.cover}}" alt="No Photo">
                    <div class="heading-p">
                        <p>{{rent.location.city}},</p>
                        <p>{{rent.location.country}}</p>
                    </div>
                    <p>Posted on {{rent.date.endsWith(':00.000Z') ? rent.date.slice(0, 10) : rent.date}}</p>
                    <p>{{rent.price}} € month</p>
                </div>
            </div>
            <div *ngIf="rents.length < 1" class="no-rents">
                <h1>No Rents</h1>
                <p>No Rents Available</p>
            </div>
        </div>
        <div class="create-msg">
            <h3>Ready to list your space?</h3>
            <button (click)="navigateToCreate()">Create your rental now!</button>
        </div>
    </div>
</div>