<div class="content">
    <div *ngIf="!isLoaded" class="loader">
        <app-loader></app-loader>
    </div>
    <div class="video">
        <video src="../../assets/Blue-Beach-Wave.mp4" type="video/mp4" controls autoplay loop></video>
    </div>
    <div *ngFor="let announcement of actual" class="card">
        <img src="{{announcement.cover}}" alt="No Photo">
        <div class="heading-p">
            <p>{{announcement.location.city}},</p>
            <p>{{announcement.location.country}}</p>
        </div>
        <p>Posted on {{announcement.date}}</p>
        <p>{{announcement.price}} € night</p>
    </div>
</div>