<header>
  <div class="fixed-size">
    <div class="top-line">
      <div class="logo">
        <img src="../../../assets/logo.jpg" alt="BB-Voyages">
      </div>
      <div class="auth">
        <div *ngIf="!isLoggedIn" class="login-register">
          <button routerLink="/login">Login</button>
          <button routerLink="/register">Register</button>
        </div>
        <div *ngIf="isLoggedIn" class="logout-profile">
                  <button>Profile</button>
                  <button (click)="logout()">Logout</button>
            </div>
      </div>
    </div>
    <nav>
      <p>BB-Voyages</p>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/rents">All Rents</a></li>
        <li><a routerLink="/add-rent">Add Rent</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </nav>
  </div>
</header>