<header>
  <div class="fixed-size">
    <div class="top-line">
      <div class="logo">
        <img src="../../../assets/bbgroup-logo.png">
      </div>
      <div class="auth">
        <div *ngIf="!isLoggedIn" class="login-register">
          <button routerLink="/login">Login</button>
          <button routerLink="/register">Register</button>
        </div>
        <div *ngIf="isLoggedIn" class="logout-profile">
                <button routerLink="/profile">Profile</button>
                <button (click)="logout()">Logout</button>
            </div>
      </div>
    </div>
    <nav>
      <p></p>
      <ul>
        <li><a routerLink="">Home</a></li>
        <li><a routerLink="/rents">Long Term Rentals</a></li>
        <li><a routerLink="/rents-short">Short Term Rentals</a></li>
        <li><a routerLink="/destinations">Destinations</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
  </div>
</header>