header{
    background-image: url('../../../assets/header-bg.jpg');
    background-size: cover;
    background-position: center;
    color: rgb(221, 221, 221);
    font-family: 'Helvetica', sans-serif;
    padding: 0 50px;
}

.fixed-size {
    max-width: 1200px;
    margin: 0 auto;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 2em;
    padding: 1em;
}

.top-line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 200px;
    aspect-ratio: 1;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.auth button:hover {
    cursor: pointer;
}


.login-register,
.logout-profile {
    width: 150px;
    height: 50px;
    border: 2px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    border-radius: 2em;
    align-items: center;
    text-align: center;
}
.auth .login-register,
.logout-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.auth .login-register button,
.logout-profile button {
    color: rgb(15, 119, 189);
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: rgb(221, 221, 221);
}

nav p {
    font-size: 36px;
    font-weight: bold;
}