<header>
  <div class="fixed-size">
    <div class="top-line">
      <div class="logo">
        <img src="../../../assets/logo.jpg" alt="BB-Voyages">
      </div>
      <div class="login-register">
        <button>Login</button>
        <button>Register</button>
      </div>
      <!-- <div class="logout-profile">
                <button>Profile</button>
                <button>Logout</button>
          </div> -->
    </div>
    <nav>
      <p>BB-Voyages</p>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Careers</a></li>
      </ul>
    </nav>
  </div>
</header>