header{
    background-image: url('../../../assets/mountains-1412683_1920.png');
    background-size: cover;
    background-position: center;
    color: rgb(221, 221, 221);
    font-family: 'Helvetica', sans-serif;
    padding: 0 50px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
}

.fixed-size {
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 2em;
    padding: 1em;
}

.top-line {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 200px;
    aspect-ratio: 1;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5em;
}

.auth button:hover {
    cursor: pointer;
}

.login-register,
.logout-profile {
    width: 150px;
    height: 50px;
    border: 2px solid rgb(221, 221, 221);
    background-color: rgb(221, 221, 221);
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    align-items: center;
    text-align: center;
}

.auth .login-register,
.logout-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.auth .login-register button,
.logout-profile button {
    color: rgb(15, 119, 189);
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

nav {
    background: hsla(296, 30%, 80%, 1);

    background: linear-gradient(90deg, hsla(296, 30%, 80%, 1) 0%, hsla(250, 28%, 71%, 1) 40%, hsla(235, 28%, 65%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFDDD4", endColorstr="#7276B0", GradientType=1 );
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    padding: 1em 0em;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #2C2837;
    font-size: 16px;
}

nav p {
    font-size: 36px;
    font-weight: bold;
}