.fixed-size {
    max-width: 1200px;
    margin: 0 auto;
}

.loader {
    margin: 0 auto;
}


.card {
    margin: 2em 0em;
    padding: 2em;
    background-color: #0b89ddb0;
    border-radius: 0.5em;
    color: rgb(221, 221, 221);
    font-family: 'Helvetica', sans-serif;
    display: flex;
    flex-wrap: wrap;
}

.card h2 {
    font-size: 2em;
    flex: 0 0 100%;
}

.photo-wall {
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.card img {
    object-fit: cover;
    width: 60%;
    height: auto;
    border-radius: 0.5em;
}

.photos-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.other-photos img {
    width: 300px;
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.info {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.info h3 {
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.options p {
    display: flex;
    justify-content: space-between;
}

.fa-check {
    color: rgb(0, 255, 0, 0.7);
}

.fa-x {
    color: rgba(255, 0, 0, 0.7);
}

.likes i {
    color: rgba(255, 0, 0, 0.7);
}

.likes span {
    padding-left: 0.5em;
    color: aliceblue;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.buttons button {
    width: 100px;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-weight: bold;
    margin-right: 0.5em;
    cursor: pointer;
}

.del {
    background-color: rgb(196, 44, 44);
}