<div class="container">
  <div class="fixed-size">
    <div class="profile-container">
      <div class="profile-info">
        <div class="profile-img">
          <img src="../../../assets/avatar.png" alt="Profile Image" />
        </div>
       <div class="stats">
        <div class="likes">
          <p>Total Likes:{{likesList.length}}</p>
        </div>
        <div class="watchlist">
          <p>Favorite Destinations:{{watchList.length}}</p>
          <ul >
            <li *ngFor="let item of rentsInWatchList">
              <div class="rent">
                <p>{{ item }}</p>
              </div></li>
          </ul>
        </div>
       </div>
        <div class="profile-details">
          <form action="" #profileForm="ngForm" (ngSubmit)="updateProfile(profileForm)">
            <div class="profile-name">
              <label for="username">Username:</label>
              <input
                type="text"
                id="username"
                name="username"
                minlength="5"
                #inputUsername="ngModel"
                value="{{ user?.username }}"
                [readonly]="!inEditMode"
                ngModel
              />
            </div>
            <p class="error" *ngIf="inputUsername.errors?.['minlength']">
                Username must be at least 5 characters long!
              </p>
            <div class="profile-email">
              <label for="email">Email:</label>
              <input
                type="email"
                id="email"
                name="email"
                #inputEmail="ngModel"
                value="{{ user?.email }}"
                [readonly]="!inEditMode"
                ngModel
                [appEmail]="'email'"
              />
              <p class="error" *ngIf="inputEmail.errors?.['emailValidator']">
                Email is not valid!
              </p>
            </div>
            <p *ngIf="isProfileUpdated" class="notification">Profile updated successfully!</p>
            <div class="buttons">
              <button (click)="inEditMode = !inEditMode">Edit</button>
            <div *ngIf="inEditMode">
                <button (click)="saveProfile()">
                    Save
                  </button>
            </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
