<footer>
    <div class="footer-container">
        <div class="footer">
            <div class="footer-text">
                <h1>BB-Group</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi, possimus consequatur unde eos eum numquam placeat cum deserunt reiciendis laborum autem alias vel, eaque earum voluptates vitae a minus quod.</p>
                <p>Copyright © 2022. All rights reserved.</p>
                <div class="socials">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin"></i>
                    <i class="fa-brands fa-github"></i>
                </div>
    
            </div>
            <div class="footer-agency">
                <h3>agency</h3>
                <ul>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Infrastructure</a></li>
                    <li><a href="#">Payments</a></li>
                    <li><a href="#">Insurance</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="footer-partners">
                <h3>partners</h3>
                <ul>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Rent-A-Car</a></li>
                    <li><a href="#">Trivago</a></li>
                    <li><a href="#">TripAdvisor</a></li>
                    <li><a href="#">Skyscanner</a></li>
                </ul>
            </div>
            <div class="footer-packages">
                <h3>packages</h3>
                <ul>
                    <li><a href="#">Family Pack</a></li>
                    <li><a href="#">Couple Pack</a></li>
                    <li><a href="#">Group Pack</a></li>
                    <li><a href="#">VIP Users</a></li>
                    <li><a href="#">Premium Pack</a></li>
                </ul>
            </div>
        </div>
        
    </div> 
    <div class="dev">
        <p>Powered by: <a href="#">BB</a></p>
        <p>Developed by: <a href="#">BB</a></p>
    </div>
</footer>