
.fixed-size {
    max-width: 1200px;
    margin: 0 auto;
}

.welcome-msg {
    border-radius: 2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #ffdb9d7c;
    padding: 2em;
    margin: 2em 0em;
    font-size: 1.2em;
}

.welcome-msg h2{
    font-family: Borel, Sans;
    font-size: 2em;
    margin-bottom: 1em;
    text-align: center;
}

.welcome-msg p {
    margin-bottom: 1em;
    font-family: Shantell, Arial, Helvetica, sans-serif;
}

.click-card {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 1em 0em;
}

.click-card img{
    cursor: pointer;
    max-width: 1200px;
    aspect-ratio: 3;
    border-radius: 0.5em;
    object-fit: cover;
}

.heading-p {
    display: flex;
    gap: 0.5em;
    font-size: 1.6em;
}

.description p{
    font-size: 1.2em;
    line-height: 1.5em;
    text-align: justify;
    font-family: 'Helvetica', sans-serif;
}